@font-face {
	font-family: BrandonText;
	src: url(fonts/BrandonText.otf);
}
@font-face {
	font-family: Cocogoose;
	src: url(fonts/Cocogoose.ttf);
}
* {
	font-family: BrandonText !important;
}

}
div.bar {
	border-color: #000000;
        border-width: 8px;
	border-right-width: 0.5px;
}
.button {
	border: 8px solid #000000;
	border-radius: 8pt;
}
.small_button, .small_button_off {
	border: 8px solid #000000;
	border-radius: 8pt;
}
p.question {
	border: 8px solid #000000;
}
.column {
	max-width: 9.7rem;
}
p.axis_name {
	color: #000000;
}
div.axis_name {
	color: #000000;
}
div.text-wrapper {
	color: #000000;
}
.small_button:hover,
.small_button:focus {
	background: #000000;
}
h1 {
	color: #000000;
	font-family: Cocogoose !important;
}
p.axis_name {
	color: #000000;
}
p.question {
	color: #000000;
}
h2 {
	color: #000000;
}
blurb-text {
	color: #222222;
}
p {
	color: #222222;
}

@media (prefers-color-scheme: dark) {
body {
	background-color: #141414;
	border: 8px solid #000000;
}
html {
	background-color: #505050;
}
.button {
	border: 8px solid #080808;
	border-radius: 8pt;
}
.small_button, .small_button_off {
	border: 8px solid #080808;
	border-radius: 8pt;
}
div.center {
	background-color: #080808;
}
div.spacer {
	background-color: #080808;
}
div.explanation_bg {
	background-color: #080808;
}
div.bar {
	border-color: #000000;
        border-width: 8px;
	border-right-width: 0.5px;
}
p.question {
	border: 8px solid #080808;
	background-color: #000000;
}
.column {
	max-width: 9.7rem;
}
p.axis_name {
	color: #e0e0e0;
}
div.axis_name {
	color: #e0e0e0;
}
div.text-wrapper {
	color: #000000;
}
.small_button:hover,
.small_button:focus {
	background: #000000;
}
h1 {
	color: #e0e0e0;
	font-family: Cocogoose !important;
}
p.axis_name {
	color: #e0e0e0;
}
p.question {
	color: #e0e0e0;
}
h2 {
	color: #e0e0e0;
}
blurb-text {
	color: #e0e0e0;
}
p {
	color: #e0e0e0;
}
}
