@font-face {
	font-family: BrandonText;
	src: url(fonts/BrandonText.otf);
}
@font-face {
	font-family: Cocogoose;
	src: url(fonts/Cocogoose.ttf);
}
.value,.column,html,h1,.axis_name {
	font-family: Cocogoose!important;
	color: #000000;
}
p,.button,.small_button, .small_button_off,p.question,h2,div.text-wrapper {
	font-family: BrandonText ;
}
div.bar {
	border-color: #000000;
        border-width: 8px;
	border-right-width: 0.5px;
}
.button,.small_button,.small_button_off {
	border: 8px solid #000000;
	border-radius: 8pt;
}
p.question {
	border: 8px solid #000000;
	color: #000000;
}
.column {
	max-width: 9.7rem;
}
.small_button:hover,.small_button:focus {
	background: #202020;
}
.question,p.axis_name,.text-wrapper,.axis_name,h2 {
	color: #000000;
}
.blurb-text,p {
	color: #202020;
}

@media (prefers-color-scheme: dark) {
	body {
		background-color: #101010;
		border-color: #000000;
	}
	html {
		background-color: #404040;
	}
	h1,h2,p.axis_name,div.axis_name {
		color: #ffffff;
	}
	p,.question,.blurb-text {
		color: #c0c0c0;
	}
	.button,.small_button, .small_button_off {
		border: 8px solid #080808;
	}
	div.center,.spacer,.explanation_bg {
		background-color: #080808;
		border-radius: 25px;
		margin-top: 15px;
	}
	.bar {
		border-color: #000000;
	}
	p.question {
		border: 8px solid #080808;
		background-color: #000000;
		color: #ffffff;
	}
	.text-wrapper {
		color: #000000;
	}
	.small_button:hover,.small_button:focus {
		background: #202020;
	}
}
