@font-face {
    font-family: textfont;
    src: url(./assets/fonts/BrandonText.otf)
}

@font-face {
    font-family: titlefont;
    src: url(./assets/fonts/Cocogoose.ttf)
}

@media (prefers-color-scheme: light) {
    .explanation_bg {
        background-color: #fff !important;
    }

    html {
        background-color: #c0c0c0 !important;
    }

    body {
        background-color: #e0e0e0 !important;
        border-color: #fff !important;
        border-top: 1px solid #fff !important;
        border-bottom: 1px solid #fff !important;
        border-left: 24px solid #fff !important;
        border-right: 24px solid #fff !important;
    }

    h1 {
        color: #000 !important;
    }

    h2 {
        color: #000 !important;
    }

    div.center {
        background-color: #fff !important;
        color: #e0e0e0 !important;
    }

    #results {
        background-color: #c0c0c0 !important;
        border: 4px solid #c0c0c0 !important;
    }

    h2.question {
        background-color: #000 !important;
        color: #fff !important;
    }

    #downloadButton {
        color: #000 !important;
    }

    p {
        color: #202020 !important;
    }

    h2.axis_name {
        color: #000 !important;
    }

    p.question {
        background-color: #fff !important;
        color: #000 !important;
    }

    div.axis_name {
        color: #000 !important;
    }

    .explanation_bg {
        background-color: #fff !important;
    }
}

html {
    background-color: #202020;
    padding: 0;
    scroll-behavior: smooth
}

body {
    background-color: #101010;
    border-color: #000;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    border-left: 24px solid #000;
    border-right: 24px solid #000;
    margin: 0 auto;
    padding-right: 48px;
    padding-left: 48px;
    width: 80%
}

h1,
.question {
    text-align: center
}

h1 {
    color: #fff;
    font-family: titlefont;
    font-size: 96px;
    line-height: 96px;
    margin-bottom: 32px;
    margin-top: 32px
}

#results {
    background-color: #202020;
    border: 4px solid #202020;
    border-radius: 16px;
    display: block;
    margin: 16px auto
}

#downloadButton {
    color: #fff;
    display: block;
    height: 64px;
    margin-left: auto;
    margin-right: auto;
    width: 64px
}

h2 {
    color: #fff;
    font-family: textfont;
    font-size: 48px;
    margin-bottom: 16px;
    margin-top: 32px
}

h2.value {
    font-size: 48px;
    margin-bottom: 24px;
    margin-left: 48px;
    margin-top: 24px;
    text-indent: -32px
}

h2.axis_name {
    color: #fff;
    font-size: 32px;
    margin-top: 48px
}

h2.question {
    align-items: center;
    background-color: #fff;
    border-radius: 32px;
    color: #000;
    display: flex;
    font-size: 36pt;
    font-weight: 512;
    justify-content: center;
    margin: 16pt auto;
    min-height: 256px;
    min-width: 500pt;
    padding: 16pt;
    width: 75%
}

p {
    color: #c0c0c0;
    font-size: 24px;
    font-family: textfont
}

p.value {
    font-size: 32px;
    margin-bottom: 24px;
    margin-left: 48px;
    margin-top: 24px;
    text-indent: -32px
}

p.axis_name,
p.value {
    font-family: titlefont
}

p.axis_name {
    color: #c0c0c0;
    font-size: 24px;
    margin-top: 48px
}

p.question {
    align-items: center;
    background-color: #000;
    border-radius: 16pt;
    color: #fff;
    display: flex;
    font-size: 36pt;
    font-weight: 400;
    justify-content: center;
    margin: 16pt auto;
    min-height: 144pt;
    min-width: 500pt;
    padding: 16pt;
    width: 70%
}

div.center {
    align-items: center;
    background-color: #080808;
    border-radius: 32px;
    color: #000;
    display: flex;
    font-size: 32px;
    justify-content: center;
    margin: auto;
    padding: 16px;
    text-align: center;
    text-decoration: none;
    width: 90%
}

.column {
    display: block;
    max-width: 16%;
    padding: 8px;
    width: 16%
}

.quadcolumn {
    display: block;
    width: 100% !important;
}

img.quadcolumn:first-of-type {
    padding-bottom: 12px;
    height: 144px
}

img.quadcolumn:hover {
    transform: scale(1.05)
}

div.axis_name {
    color: #fff;
    font-family: titlefont;
    font-size: 24px;
    padding-bottom: 16px
}

.button {
    background-color: #00a0e0;
    font-family: titlefont !important;
    border: 0;
    border-radius: 16px;
    color: #fff;
    cursor: pointer;
    display: block;
    font-size: 24px;
    margin: auto;
    padding: 16px;
    text-align: center;
    width: 50%;
    margin-bottom: 24px;
    margin-top: 24px
}

.button:focus,
.button:hover {
    background: #0080c0;
    font-family: titlefont !important
}

.small_button,
.small_button_off {
    background-color: #404040;
    font-family: titlefont !important;
    border: 0;
    border-radius: 8pt;
    color: #fff;
    cursor: pointer;
    display: block;
    font-size: 18pt;
    margin: auto;
    min-width: 100pt;
    padding: 8pt;
    text-align: center;
    text-decoration: none;
    width: 10%
}

.small_button:focus,
.small_button:hover {
    background: #202020;
    font-family: titlefont !important
}

.small_button_off {
    background-color: #e0e0e0;
    font-family: titlefont !important;
    border: 2px solid #808080;
    color: #808080;
    cursor: not-allowed;
    margin: auto
}

.github-corner:hover .octo-arm {
    animation: octocat-wave 500ms ease-in-out
}

@keyframes octocat-wave {

    0%,
    100% {
        transform: rotate(0)
    }

    20%,
    60% {
        transform: rotate(-25deg)
    }

    40%,
    80% {
        transform: rotate(10deg)
    }
}

@media(max-width:500px) {
    .github-corner:hover .octo-arm {
        animation: none
    }

    .github-corner .octo-arm {
        animation: octocat-wave 560ms ease-in-out
    }
}

#listholder {
    text-align: center;
}

div.explanation_blurb_left,
div.explanation_blurb_right {
    margin: 16px;
    vertical-align: top;
    width: 40%
}

div.explanation_axis {
    vertical-align: top;
    width: 20%
}

div.axis {
    align-items: center;
    display: flex;
    justify-content: center;
    width: 100%
}

div.bar {
    background-color: #fff;
    border-bottom: 8px solid #000;
    border-top: 8px solid #000;
    display: block;
    height: 48px;
    line-height: 48px;
    margin-bottom: 16px;
    margin-top: 16px;
    padding: 16px
}

div.smallbar {
    background-color: #fff;
    border-bottom: 4px solid #000;
    border-top: 4px solid #000;
    display: block;
    height: 24px;
    line-height: 48px;
    margin-bottom: 8px;
    margin-top: 8px;
    padding: 8px
}

div.text-wrapper {
    color: #080808;
    display: inline-block;
    font-size: 48px;
    font-family: textfont;
}

.explanation_bg {
    background-color: #080808;
    border-radius: 32px;
    margin: 32px
}

#results {
    border: 2px solid #404040;
    border-radius: 32px;
    display: block;
    margin: 16px auto
}

.arrow {
    height: auto;
    width: 60% !important
}

.spacer {
    display: flex
}

.spacer>div {
    display: inline-block;
    *display: inline;
    margin-top: 12px;
    text-align: center
}