@font-face {
	font-family: BrandonText;
	src: url(fonts/BrandonText.otf);
}
@font-face {
	font-family: Cocogoose;
	src: url(fonts/Cocogoose.ttf);
}
html {
	font-family: Cocogoose;
}
p,.button,.small_button, .small_button_off,p.question,h2 {
	font-family: BrandonText;
}



div.bar {
	border-color: #000000;
        border-width: 8px;
	border-right-width: 0.5px;
}
.button {
	border: 8px solid #000000;
	border-radius: 8pt;
}
.small_button, .small_button_off {
	border: 8px solid #000000;
	border-radius: 8pt;
}
p.question {
	border: 8px solid #000000;
}
.column {
	max-width: 9.7rem;
}
.axis_name {
	color: #000000;
}
.text-wrapper {
	color: #000000;
}
.small_button:hover,.small_button:focus {
	background: #000000;
}
h1,.axis_name {
	color: #000000;
	font-family: Cocogoose !important;
}
.question {
	color: #000000;
}
.value,.column {
	font-family: Cocogoose !important;
}
h2 {
	color: #000000;
}
.blurb-text,p {
	color: #222222;
}

@media (prefers-color-scheme: dark) {
	body {
		background-color: #141414;
		border-color: #000000;
	}
	html {
		background-color: #505050;
	}
	h1,h2 {
		color: #ffffff;
	}
	p,.question,div.axis_name,p.axis_name,.blurb-text {
		color: #e0e0e0;
	}
	.button,.small_button, .small_button_off {
		border: 8px solid #080808;
	}
	div.center,.spacer,.explanation_bg {
		background-color: #080808;
	}
	.bar {
		border-color: #000000;
	}
	p.question {
		border: 8px solid #080808;
		background-color: #000000;
		color: #ffffff;
	}
	.text-wrapper {
		color: #000000;
	}
	.small_button:hover,.small_button:focus {
		background: #000000;
	}
}
