@font-face {
	font-family: BrandonText;
	src: url(fonts/BrandonText.otf);
}

* {
	font-family: BrandonText !important;
}
div.bar {
	border-color: #000000;
}
.button {
	border: 6px solid #000000;
	border-radius: 8pt;
}
.small_button, .small_button_off {
	border: 6px solid #000000;
	border-radius: 8pt;
}
p.question {
	border: 6px solid #000000;
	border-radius: 16pt;
}
