@font-face {
	font-family: BrandonText;
	src: url(fonts/BrandonText.otf);
}

* {
	font-family: BrandonText !important;
}
div.bar {
	border-color: #000000;
        border-width: 8px;
	border-right-width: 0.5px;
}
.button {
	border: 8px solid #000000;
	border-radius: 8pt;
}
.small_button, .small_button_off {
	border: 8px solid #000000;
	border-radius: 8pt;
}
p.question {
	border: 8px solid #000000;
	border-radius: 16pt;
}
.column {
	max-width: 8rem;
}
