head
    meta(charset="utf-8")
    title Dozenvalues
    link(rel="shortcut icon", href="./assets/icon.png", type="image/x-icon")
    link(rel=icon, href="./assets/icon.png", type="image/x-icon")
    meta(property="og:title" content="Dozenvalues")
    meta(property="og:image" content="https://quark88.github.io/dozenvalues/assets/icon.png")
    meta(property="og:url" content="https://quark88.github.io/dozenvalues")
    meta(property="og:type" content="Political test")
    meta(property="og:locale" content="en_US")
    meta(property="og:description" 
        content="DozenValues is a political test that aims to map differing political perspectives onto six axes.")
    link(rel="stylesheet", href="./dist/style.css")