doctype html
html
    include includes/tags
    body 
        h1(id="title")
        h2(id="pagename")
        p(id="instructiontext")
        button(id="quiz_button")
        button(id="quiz_random_button")
        button(id="back_button")
        script(type="module" src="./dist/instructions.js")