doctype html
html
    include includes/tags
    body
        //-span(id="switchlabel")
        //-label(class="switch" id="themeswitch")
        //-    input(type="checkbox" id="box")
        //-    span(class="slider")
        a(
            href="./index.html"
            class="index-corner"
            aria-label="Go back to main page"
            )
            include includes/index.svg
        h1(id="title")
        h2(id="pagename")
        p(id="about")
        label(for="abs" id="abs_label")
        label(class="switch" for="abs" id="abs_label")
            input(type="checkbox" id="abs")
            span(class="slider")
        div(id="matchholder")
        div(class="small-button-holder")
            button(id="matches_button" class="toolbutton")
            button(id="questions_button" class="toolbutton")
            button(id="custom_button" class="toolbutton")
        button(class="backbutton" id="back_button")
            span(id="back_text")
        if inline_js
            script(type="module") !{js["lister"]}
        else
            script(type="module" src="./dist/lister.js")