doctype html
html
    include includes/tags
    body
        h1(id="title")
        div(id="matchholder")
        label(for="abs") Absolute
        input(type="checkbox" id="abs")
        script(type="module" src="./dist/lister.js")