doctype html
html
    include includes/tags
    body
        h1(id="title")
        h2(id="question_number")
        p(id="questiontext")
        div(id="buttonholder")
        button(id="back_button")
        if inline_js
            script(type="module") !{js["quiz"]}
        else
            script(type="module" src="./dist/quiz.js")