//Common

@font-face {
    font-family: BrandonText;
    src: url(../assets/fonts/BrandonText.otf)
}

@font-face {
    font-family: Cocogoose;
    src: url(../assets/fonts/Cocogoose.ttf)
}

@font-face {
    font-family: Uni;
    src: url(../assets/fonts/Uni.otf);
}

$textfont: BrandonText;
$titlefont: Cocogoose;
$buttonfont: Uni;

:root {
    --background: #101010ff;
    --border: #080808ff;
    --html: #202020ff;
    --text: #ffffffff;
    --text2: #e0e0e0ff;
    --text3: #c0c0c0ff;
    --button: #202020ff;
    --hover: #404040ff;
    --startbutton: #0080c0ff;
    --starthover: #00a0e0ff;
    --arrows: #404040ff;
    --shadow: 0 0.25vw 0.5vw 0 #00000080, 0 0.5vw 1vw 0 #00000080;
}

@media (prefers-color-scheme: light) {
    :root {
        --background: #e0e0e0ff;
        --border: #ffffffff;
        --html: #c0c0c0ff;
        --text: #000000ff;
        --text2: #202020ff;
        --text3: #404040ff;
        --button: #c0c0c0ff;
        --hover: #e0e0e0ff;
        --arrows: #808080ff;
    }
}

@media only screen and (max-width: 1000px) {
    .vbutton {
        width: 80vw !important;
        padding: 3vw !important;
        font-size: 3vw !important;
    }

    .backbutton {
        width: 60vw !important;
        padding: 3vw !important;
        font-size: 3vw !important;
    }

    body {
        border-left: none !important;
        border-right: none !important;
        width: 100vw !important;
        min-height: 100%;
    }

    #instructiontext,
    #questiontext {
        font-size: 3vw;
        justify-content: center;
        margin: 1vw auto;
        min-height: 16vw;
        padding: 2vw;
        width: 80vw;
    }
}

* {
    transition: all .25s ease-in-out;
    outline: none;
}

html {
    scroll-behavior: smooth;
    scrollbar-width: thin;
    scrollbar-color: #c0c0c0ff #202020ff;
    display: block;
    padding: 0;
    height: 100%;
    background-color: var(--html);
}

body {
    font-family: $titlefont;
    text-align: center;
    background-color: var(--background);
    border-left: 1.5vw solid var(--border);
    border-right: 1.5vw solid var(--border);
    margin: 0 auto;
    padding: 3vw;
    padding-top: 1vw;
    width: 80vw;
    min-height: 100%;
}

h1 {
    color: var(--text);
    font-size: 6vw;
    line-height: 6vw;
    margin-bottom: 2vw;
    margin-top: 2vw
}

h2 {
    color: var(--text);
    font-family: $textfont;
    font-size: 3vw;
    margin-bottom: 1vw;
    margin-top: 2vw
}

h3 {
    color: var(--text2);
    font-family: $textfont;
    font-size: 1.5vw;
    margin-bottom: 1vw;
    margin-top: 0
}

p {
    color: var(--text3);
    font-size: 1.5vw;
    font-family: $textfont;
    text-align: center;
}

a {
    scroll-margin-top: 8vw;
}

.index-corner:hover,
.github-corner:hover {
    transform: scale(1.025);
    box-shadow: var(--shadow);
    transition: all .25s ease-in-out;
}

.github-corner:hover .octo-arm {
    animation: octocat-wave 500ms ease-in-out
}

@keyframes octocat-wave {

    0%,
    100% {
        transform: rotate(0)
    }

    20%,
    60% {
        transform: rotate(-25deg)
    }

    40%,
    80% {
        transform: rotate(10deg)
    }
}

#about {
    width: 75vw;
    margin: auto;
}

option {
    margin: 0.5vw 0;
    font-size: 1vw;
    font-family: $textfont;
}

#langDropdown {
    font-family: $buttonfont;
    width: 20vw;
    border: none;
    border-radius: 1vw;
    height: 4vw;
    padding: 1vw;
    font-size: 1.5vw;
    cursor: pointer;

    &:hover {
        box-shadow: var(--shadow);
    }
}

/*#themeswitch {
    position: fixed;
    bottom: 1.5vw;
    right: 1.5vw;
}

#switchlabel {
    position: fixed;
    bottom: 4vw;
    right: 1.5vw;
    font-family: $textfont;
    color: var(--text);
    font-size: 1.5vw;
    text-align: center;

    &::before {
        content: 'Theme';
    }
}*/

button {
    font-family: $buttonfont;
    color: var(--text);
    border: none;
    border-radius: 1vw;
    padding: 1vw;
    cursor: pointer;
    background-color: var(--button);

    &:hover {
        box-shadow: var(--shadow);
    }
}

.startbutton {
    margin: 1vw auto;
    font-family: $buttonfont;
    display: block;
    border-radius: 1wv;
    color: #ffffffff;
    background-color: var(--startbutton);
    text-align: center;
    font-size: 2vw;
    padding: 1vw;
    width: 34vw;
    transition: all .25s ease-in-out;
    cursor: pointer;

    &:hover {
        background-color: var(--starthover);
    }

    span {
        cursor: pointer;
        display: inline-block;
        position: relative;
        transition: all .25s ease-in-out;

        &:after {
            content: "\00BB";
            position: absolute;
            opacity: 0;
            right: -2vw;
            transition: all .25s ease-in-out;
        }
    }

    &:hover span {
        padding-right: 2vw;

        &:after {
            opacity: 1;
            right: 0;
        }
    }
}

.backbutton {
    margin: 1vw auto;
    font-family: $buttonfont;
    display: block;
    border-radius: 1vw;
    color: var(--text);
    background-color: var(--button);
    text-align: center;
    font-size: 2vw;
    padding: 1vw;
    width: 20vw;
    transition: all .25s ease-in-out;
    cursor: pointer;

    &:hover {
        background-color: var(--hover);
    }

    span {
        cursor: pointer;
        display: inline-block;
        position: relative;
        transition: all .25s ease-in-out;

        &:after {
            content: "\00AB";
            position: absolute;
            opacity: 0;
            left: -2vw;
            transition: all .25s ease-in-out;
        }
    }

    &:hover span {
        padding-left: 2vw;

        &:after {
            opacity: 1;
            left: 0;
        }
    }
}

.toolbutton {
    display: inline-block;
    margin: 0.5vw;
    font-size: 1.5vw;
    background-color: var(--button);
    transition: all .25s ease-in-out;
    width: 16vw;

    &:hover {
        background-color: var(--hover);
        transform: scale(1.025);
        transition: all .25s ease-in-out;
    }
}

#instructiontext,
#questiontext {
    align-items: center;
    background-color: var(--border);
    border-radius: 2vw;
    color: var(--text);
    display: flex;
    font-size: 3vw;
    justify-content: center;
    margin: 1vw auto;
    min-height: 16vw;
    padding: 2vw;
    width: 75vw;
}

//Index

iframe {
    width: 24vw;
}

.axis_label {
    font-size: 2vw;
    font-family: $titlefont;
    color: var(--text);
}

.value {
    font-family: $titlefont;
    font-size: 2vw;
    margin-bottom: 1.5vw;
    margin-left: 3vw;
    margin-top: 1.5vw;
    text-indent: -2vw
}

.quadcolumn {
    width: 45vw;
}

.block {
    font-family: $titlefont;
    display: inline-block;
    text-align: center;
    border-radius: 2vw;
    margin: 0.5vw;

    img.quadcolumn {
        width: 10vw;
        padding: 0;
        margin: 1vw;
        transition: all .25s ease-in-out;

        &:hover {
            transform: scale(1.05);
        }
    }
}

.explanation_blurb_left,
.explanation_blurb_right {
    margin: 1vw;
    vertical-align: top;
    width: 40vw
}

.arrow {
    height: auto;
    width: 16vw;
    max-width: 100vw;

    path {
        stroke: var(--arrows);
    }
}

.spacer {
    display: flex;

    &>div {
        max-width: 40vw;
        display: inline-block;
        margin-top: 0.75vw;
        text-align: center;
    }
}

#credits-list {
    padding: 1.5vw;
    border-radius: 1.5vw;
    width: fit-content;
    margin: 1.5vw auto;

    .entry {
        display: inline-block;
        background-color: var(--button);
        border-radius: 1.5vw;
        margin: 1.5vw;
        cursor: pointer;

        img {
            display: inline-block;
            text-align: left;
            max-width: 8vw;
            border-radius: 4vw;
            margin: 2vw;
            box-shadow: 0 0.5vw 1vw 0 #00000080, 0 1vw 2vw 0 #00000080;
        }

        .credit-wrapper {
            margin: 0.25vw auto;
            display: inline-block;
            position: relative;
            width: 24vw;
            top: -4vw;

            .tag {
                font-size: 2vw;
                font-family: $buttonfont;
            }

            div {
                display: block;
            }
        }

        transition: all .25s ease-in-out;

        &:hover {
            background: var(--hover);
            transform: scale(1.025);
            box-shadow: 0 0.5vw 1vw 0 #00000080, 0 1vw 2vw 0 #00000080;
        }
    }
}

//Instructions

#instructionstext {
    font-size: 2vw !important;
    padding: 2vw;
}

//Quiz

.agree {
    display: inline-block;
    width: 10vw;
    padding-left: 2vw;
    color: var(--text);
    font-size: 2vw;
    font-family: $buttonfont;
    text-align: left;
}

.disagree {
    display: inline-block;
    width: 10vw;
    padding-right: 2vw;
    color: var(--text);
    font-size: 2vw;
    font-family: $buttonfont;
    text-align: right;
}

.rightbutton {
    margin: 0.5vw;
    font-family: $buttonfont;
    display: inline-block;
    border-radius: 1vw;
    color: #ffffffff;
    text-align: center;
    font-size: 2vw;
    padding: 2vw;
    width: 10vw;
    cursor: pointer;
    transition: all .25s ease-in-out;

    span {
        display: inline-block;
        position: relative;
        transition: all .25s ease-in-out;
    }

    &:hover span {
        padding-left: 1vw;
    }

    &:active {
        transform: scale(0.96);
    }
}

.leftbutton {
    margin: 0.5vw;
    font-family: $buttonfont;
    display: inline-block;
    border-radius: 1vw;
    color: #ffffffff;
    text-align: center;
    font-size: 2vw;
    padding: 2vw;
    width: 10vw;
    cursor: pointer;
    transition: all .25s ease-in-out;

    span {
        display: inline-block;
        position: relative;
        transition: all .25s ease-in-out;
    }

    &:hover span {
        padding-right: 1vw;
    }

    &:active {
        transform: scale(0.96);
    }
}

.centrebutton {
    margin: 0.5vw;
    font-family: $buttonfont;
    display: inline-block;
    border-radius: 1vw;
    color: #ffffffff;
    text-align: center;
    font-size: 2vw;
    padding: 2vw;
    width: 10vw;
    cursor: pointer;
    transition: all .25s ease-in-out;

    &:active {
        transform: scale(0.96);
    }
}

.vbutton {
    margin: 2vw auto;
    font-family: $buttonfont;
    display: block;
    border-radius: 1vw;
    color: #ffffffff;
    text-align: center;
    font-size: 2vw;
    padding: 2vw;
    width: 50vw;
    cursor: pointer;
    transition: all .25s ease-in-out;

    &:hover {
        transform: scale(0.98);
    }

    &:active {
        transform: scale(0.96);
    }
}

//Results

#results1,
#results2,
#score,
#match {
    background-color: var(--border);
    border: 0.25vw solid var(--border);
    border-radius: 1vw;
    display: block;
    margin: 1vw auto;
    max-width: 90vw;
}

#results1,
#results2 {
    cursor: pointer;
    transition: all .25s ease-in-out;

    &:hover {
        transform: scale(1.025);
        box-shadow: var(--shadow);
    }
}

//Matches

.matchswapper {
    width: 10vw;
    height: 4vw;
    padding: 0.5vw;
    margin: 1vw;
    font-size: 2vw;
    vertical-align: middle;
}

#match-dropdown {
    display: inline-block;
    font-family: $buttonfont;
    width: 50vw;
    border: none;
    border-radius: 1vw;
    height: 4vw;
    padding: 1vw;
    font-size: 1.5vw;
    cursor: pointer;
    vertical-align: middle;

    &:hover {
        box-shadow: var(--shadow);
    }
}

select {
    background-color: var(--button);
    color: var(--text);
    text-align: start;
    display: block;
    font-size: 1.5vw;
    margin: auto;
    width: 20vw;
    transition: all .25s ease-in-out;
    cursor: pointer;

    &:hover {
        background: var(--hover);
        transform: scale(1.025);
    }
}

#match-text {
    width: 75vw;
    margin: auto;
}

//Lister

.match-button {
    background-color: var(--button);
    cursor: pointer;
    display: block;
    color: var(--text);
    font-size: 1.5vw;
    font-family: $textfont;
    text-decoration: none;
    margin: auto;
    margin-top: 1vw;
    margin-bottom: 1vw;
    width: 60vw;
    border-radius: 0.5vw;
    transition: all .25s ease-in-out;

    &:hover {
        transform: scale(1.025);
        box-shadow: var(--shadow);
    }
}

label {
    color: var(--text);
    font-size: 1vw;
    display: block;
    margin: 0.5vw 0;
}

.switch {
    position: relative;
    display: inline-block;
    width: 4vw;
    height: 2vw;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #c0c0c0ff;
    -webkit-transition: .5s;
    transition: .5s;
    border-radius: 2vw;
}

.slider:before {
    position: absolute;
    content: "";
    height: 1.5vw;
    width: 1.5vw;
    left: 0.25vw;
    bottom: 0.25vw;
    background-color: #ffffffff;
    -webkit-transition: .5s;
    transition: .5s;
    border-radius: 100vw;
}

input:checked+.slider {
    background-color: var(--startbutton);
}

input:checked+.slider:before {
    -webkit-transform: translateX(2vw);
    -ms-transform: translateX(2vw);
    transform: translateX(2vw);
}

//Questions

#questionholder {
    display: block;
    text-align: center;
    font-size: 1.5vw;
    font-family: $textfont;
    margin: auto;

    .question-holder {
        display: block;
        background-color: var(--border);
        margin: 1vw auto;
        width: 60vw;
        padding: 2vw;
        border-radius: 1.5vw;

        .question-text {
            color: var(--text);
        }

        .value-holder {
            display: inline-block;
            margin: 0.5vw;

            img {
                display: inline-block;
                height: 6vw;
            }
        }
    }
}

//Custom

#download_button {
    font-family: $buttonfont;
    color: #ffffffff;
    background-color: var(--startbutton);
    display: block;
    width: 40vw;
    margin: auto;
    margin-top: 1vw;
    margin-bottom: 1vw;
    font-size: 1.5vw;

    &:hover {
        background-color: var(--starthover);
    }

    svg {
        height: 3vw;
    }

}