@font-face {
    font-family: BrandonText;
    src: url(../assets/fonts/BrandonText.otf)
}

@font-face {
    font-family: Cocogoose;
    src: url(../assets/fonts/Cocogoose.ttf)
}

@font-face {
    font-family: Uni;
    src: url(../assets/fonts/Uni.otf);
}

$textfont: BrandonText;
$titlefont: Cocogoose;
$buttonfont: Uni;

:root {
    --background: #101010ff;
    --border: #080808ff;
    --html: #202020ff;
    --text: #ffffffff;
    --text2: #e0e0e0ff;
    --text3: #c0c0c0ff;
    --match: #202020ff;
    --button: #202020ff;
    --hover: #404040ff;
    --startbutton: #0080c0ff;
    --starthover: #00a0e0ff;
    --arrows: #404040ff;
    --shadow: 0 4px 8px 0 #00000080, 0 8px 16px 0 #00000080;
}

@media (prefers-color-scheme: light) {
    :root {
        --background: #e0e0e0ff;
        --border: #ffffffff;
        --html: #c0c0c0ff;
        --text: #000000ff;
        --text2: #202020ff;
        --text3: #404040ff;
        --match: #ffffffff;
        --button: #c0c0c0ff;
        --hover: #e0e0e0ff;
        --arrows: #808080ff;
    }
}

* {
    transition: all .25s ease-in-out;
    outline: none;
}

html {
    display: block;
    padding: 0;
    scroll-behavior: smooth;
    height: 100%;
    background-color: var(--html);
}

body {
    font-family: $titlefont;
    text-align: center;
    background-color: var(--background);
    border-left: 24px solid var(--border);
    border-right: 24px solid var(--border);
    margin: 0 auto;
    padding: 48px;
    padding-top: 10px;
    width: 80%;
    min-height: 100%;
}

h1 {
    color: var(--text);
    font-size: 96px;
    line-height: 96px;
    margin-bottom: 32px;
    margin-top: 32px
}

h2 {
    color: var(--text);
    font-family: $textfont;
    font-size: 48px;
    margin-bottom: 16px;
    margin-top: 32px
}

h3 {
    color: var(--text2);
    font-family: $textfont;
    font-size: 24px;
    margin-bottom: 16px;
    margin-top: 0px
}

p,
#match-text {
    color: var(--text3);
    font-size: 24px;
    font-family: $textfont
}

a {
    scroll-margin-top: 128px;
}

button {
    font-family: $buttonfont;
    color: var(--text);
    border: none;
    border-radius: 16px;
    padding: 16px;
    cursor: pointer;

    &:hover {
        box-shadow: var(--shadow);
    }
}

.startbutton {
    margin: auto;
    margin-top: 16px;
    margin-bottom: 16px;
    font-family: $buttonfont;
    display: block;
    border-radius: 16px;
    color: #ffffffff;
    background-color: var(--startbutton);
    text-align: center;
    font-size: 32px;
    padding: 16px;
    width: 40%;
    transition: all .25s ease-in-out;
    cursor: pointer;

    &:hover {
        background-color: var(--starthover);
    }

    span {
        cursor: pointer;
        display: inline-block;
        position: relative;
        transition: all .25s ease-in-out;

        &:after {
            content: "\00BB";
            position: absolute;
            opacity: 0;
            right: -32px;
            transition: all .25s ease-in-out;
        }
    }

    &:hover span {
        padding-right: 32px;

        &:after {
            opacity: 1;
            right: 0;
        }
    }
}

.backbutton {
    margin: auto;
    margin-top: 16px;
    margin-bottom: 16px;
    font-family: $buttonfont;
    display: block;
    border-radius: 16px;
    color: var(--text);
    background-color: var(--button);
    text-align: center;
    font-size: 32px;
    padding: 16px;
    width: 20%;
    transition: all .25s ease-in-out;
    cursor: pointer;

    &:hover {
        background-color: var(--hover);
    }

    span {
        cursor: pointer;
        display: inline-block;
        position: relative;
        transition: all .25s ease-in-out;

        &:after {
            content: "\00AB";
            position: absolute;
            opacity: 0;
            left: -32px;
            transition: all .25s ease-in-out;
        }
    }

    &:hover span {
        padding-left: 32px;

        &:after {
            opacity: 1;
            left: 0;
        }
    }
}

.toolbutton {
    display: inline-block;
    margin: 8px;
    font-size: 24px;
    background-color: var(--button);
    transition: all .25s ease-in-out;
    width: 20%;

    &:hover {
        background-color: var(--hover);
        transform: scale(1.025);
        transition: all .25s ease-in-out;
    }
}

#instructionstext {
    font-size: 32px!important;
}

.agree {
    display: inline-block;
    width: 12%;
    padding-left: 16px;
    color: var(--text);
    font-size: 24px;
    font-family: $buttonfont;
    text-align: left;
}

.disagree {
    display: inline-block;
    width: 12%;
    padding-right: 16px;
    color: var(--text);
    font-size: 24px;
    font-family: $buttonfont;
    text-align: right;
}

.rightbutton {
    margin: 8px;
    font-family: $buttonfont;
    display: inline-block;
    border-radius: 16px;
    color: #ffffffff;
    text-align: center;
    font-size: 32px;
    padding: 16px;
    width: 10%;
    cursor: pointer;
    transition: all .25s ease-in-out;

    span {
        display: inline-block;
        position: relative;
        transition: all .25s ease-in-out;
    }

    &:hover span {
        padding-left: 16px;
    }

    &:active {
        transform: scale(0.95);
    }
}

.leftbutton {
    margin: 8px;
    font-family: $buttonfont;
    display: inline-block;
    border-radius: 16px;
    color: #ffffffff;
    text-align: center;
    font-size: 32px;
    padding: 16px;
    width: 10%;
    cursor: pointer;
    transition: all .25s ease-in-out;

    span {
        display: inline-block;
        position: relative;
        transition: all .25s ease-in-out;
    }

    &:hover span {
        padding-right: 16px;
    }

    &:active {
        transform: scale(0.95);
    }
}

.centrebutton {
    margin: 8px;
    font-family: $buttonfont;
    display: inline-block;
    border-radius: 16px;
    color: #ffffffff;
    text-align: center;
    font-size: 32px;
    padding: 16px;
    width: 10%;
    cursor: pointer;
    transition: all .25s ease-in-out;

    &:active {
        transform: scale(0.95);
    }
}

select {
    background-color: var(--button);
    color: var(--text);
    text-align: start;
    display: block;
    font-size: 24px;
    margin: auto;
    width: 20%;
    transition: all .25s ease-in-out;
    cursor: pointer;

    &:hover {
        background: var(--hover);
        transform: scale(1.025);
    }
}

label {
    color: var(--text);
}

iframe {
    width: 384px;
}

#results1,
#results2,
#score,
#match {
    background-color: var(--border);
    border: 4px solid var(--border);
    border-radius: 16px;
    display: block;
    margin: 16px auto;
    max-width: 90%;
}

#results1,
#results2 {
    cursor: pointer;
    transition: all .25s ease-in-out;

    &:hover {
        transform: scale(1.025);
        box-shadow: var(--shadow);
    }
}


#about {
    max-width: 768px;
    margin: auto;
    margin-bottom: 20px;
}

#download1,
#download2,
#download_button {
    font-family: $buttonfont;
    color: #ffffffff;
    background-color: var(--startbutton);
    display: block;
    width: 40%;
    margin: auto;
    margin-top: 16px;
    margin-bottom: 16px;
    font-size: 24px;

    &:hover {
        background-color: var(--starthover);
    }

    svg {
        height: 48px;
    }

}

#instructiontext,
#questiontext {
    align-items: center;
    background-color: var(--border);
    border-radius: 32px;
    color: var(--text);
    display: flex;
    font-size: 48px;
    justify-content: center;
    margin: 16px auto;
    min-height: 256px;
    min-width: 80%;
    padding: 16px;
    width: 80%;
}

#credits-list {
    padding: 24px;
    border-radius: 24px;
    width: fit-content;
    margin: 24px auto;

    .entry {
        display: block;
        background-color: var(--button);
        border-radius: 24px;
        margin-bottom: 24px;
        height: 192px;
        cursor: pointer;

        img {
            display: inline-block;
            text-align: left;
            max-width: 128px;
            border-radius: 64px;
            margin: 32px;
            box-shadow: 0 8px 16px 0 #00000080, 0 16px 32px 0 #00000080;
        }

        .credit-wrapper {
            margin: 4px auto;
            display: inline-block;
            position: relative;
            width: 384px;
            top: -35%;

            .tag {
                font-size: 32px;
                font-family: $buttonfont;
            }

            div {
                display: block;
            }
        }

        transition: all .25s ease-in-out;

        &:hover {
            background: var(--hover);
            transform: scale(1.025);
            box-shadow: 0 8px 16px 0 #00000080, 0 16px 32px 0 #00000080;
        }
    }
}

.value {
    font-family: $titlefont;
    font-size: 32px;
    margin-bottom: 24px;
    margin-left: 48px;
    margin-top: 24px;
    text-indent: -32px
}

.quadcolumn {
    width: 45%;
}

.block {
    font-family: $titlefont;
    display: inline-block;
    width: 32%;
    text-align: center;
    border-radius: 32px;
    margin: 0.5%;

    img.quadcolumn {
        width: 45%;
        padding: 0;
        margin: 2%;
        margin-top: 1em;
        transition: all .25s ease-in-out;

        &:hover {
            transform: scale(1.05);
        }
    }
}

.explanation_blurb_left,
.explanation_blurb_right {
    margin: 16px;
    vertical-align: top;
    width: 40%
}

.axis {
    align-items: center;
    display: flex;
    justify-content: center;
    width: 100%
}

.axis_label {
    font-size: 32px;
    font-family: $titlefont;
    color: var(--text);
}

.bar {
    color: #000000ff;
    background-color: #ffffffff;
    border-bottom: 8px solid #000000ff;
    border-top: 8px solid #000000ff;
    display: block;
    height: 48px;
    line-height: 48px;
    margin-bottom: 16px;
    margin-top: 16px;
    padding: 16px
}

.text-wrapper {
    color: #000000ff;
    display: inline-block;
    font-size: 48px;
    font-family: $textfont;
}

.arrow {
    height: auto;
    width: 256px;
    max-width: 100%;

    path {
        stroke: var(--arrows);
    }
}

.spacer {
    display: flex;

    &>div {
        max-width: 40%;
        display: inline-block;
        margin-top: 12px;
        text-align: center;
    }
}

#questionholder {
    display: block;
    text-align: center;
    font-size: 24px;
    font-family: $textfont;
    width: fit-content;
    margin: auto;

    .question-holder {
        display: block;
        background-color: var(--border);
        margin: auto;
        margin-top: 16px;
        margin-bottom: 16px;
        width: 100%;
        padding: 16px;
        border-radius: 24px;

        .question-text {
            color: var(--text);
        }

        .value-holder {
            display: inline-block;
            margin: 8px;

            img {
                display: inline-block;
                height: 96px;
            }
        }
    }
}


#langDropdown {
    font-family: $buttonfont;
    width: 20%;
    border: none;
    border-radius: 16px;
    height: 64px;
    padding: 16px;
    font-size: 20px;
    cursor: pointer;

    &:hover {
        box-shadow: var(--shadow);
    }
}

#match-dropdown {
    font-family: $buttonfont;
    width: 50%;
    border: none;
    border-radius: 16px;
    height: 64px;
    padding: 16px;
    font-size: 20px;
    cursor: pointer;

    &:hover {
        box-shadow: var(--shadow);
    }
}

.match-text {
    cursor: pointer;
    display: block;
    color: var(--text);
    font-size: 24px;
    font-family: $textfont;
    text-decoration: none;
    margin: auto;
    margin-top: 16px;
    margin-bottom: 16px;
    width: 50%;
    background-color: var(--match);
    border-radius: 8px;
    transition: all .25s ease-in-out;

    &:hover {
        transform: scale(1.025);
        box-shadow: var(--shadow);
    }
}

.index-corner:hover,
.github-corner:hover {
    transform: scale(1.025);
    box-shadow: var(--shadow);
    transition: all .25s ease-in-out;
}

.github-corner:hover .octo-arm {
    animation: octocat-wave 500ms ease-in-out
}

@keyframes octocat-wave {

    0%,
    100% {
        transform: rotate(0)
    }

    20%,
    60% {
        transform: rotate(-25deg)
    }

    40%,
    80% {
        transform: rotate(10deg)
    }
}

@media(max-width:500px) {
    .github-corner:hover .octo-arm {
        animation: none
    }

    .github-corner .octo-arm {
        animation: octocat-wave 560ms ease-in-out
    }
}