@font-face {
    font-family: textfont;
    src: url(../assets/fonts/BrandonText.otf)
}

@font-face {
    font-family: titlefont;
    src: url(../assets/fonts/Cocogoose.ttf)
}

:root {
    --fg-c1: white;
    --fg-c2: #c0c0c0;
    --bg-c1: #000000;
    --bg-c2: #080808;
    --bg-c3: #101010;
    --bg-c4: #202020;
    --bg-c5: #404040;
}

@media (prefers-color-scheme: light) {
    :root {
        --fg-c1: black;
        --fg-c2: #202020;
        --bg-c1: #ffffff;
        --bg-c2: #ffffff;
        --bg-c3: #e0e0e0;
        --bg-c4: #c0c0c0;
        --bg-c5: #404040;
    }
}


html {
    display: block;
    background-color: var(--bg-c4);
    padding: 0;
    scroll-behavior: smooth;
    height: 100%;
}

body {
    font-family: titlefont;
    text-align: center;
    background-color: var(--bg-c3);
    border-left: 24px solid var(--bg-c1);
    border-right: 24px solid var(--bg-c1);
    margin: 0 auto;
    padding: 48px;
    padding-top: 10px;
    width: 80%;
    min-height: 100%;
}

h1 {
    color: var(--fg-c1);
    font-size: 96px;
    line-height: 96px;
    margin-bottom: 32px;
    margin-top: 32px
}

h2 {
    color: var(--fg-c1);
    font-family: textfont;
    font-size: 48px;
    margin-bottom: 16px;
    margin-top: 32px
}

h3 {
    color: var(--fg-c1);
    font-family: textfont;
    font-size: 24px;
    margin-bottom: 16px;
    margin-top: 0px
}

p {
    color: var(--fg-c2);
    font-size: 24px;
    font-family: textfont
}

a {
    scroll-margin-top: 70px;
}

button {
    font-family: titlefont;
    background-color: #00a0e0;
    border: 0;
    border-radius: 16px;
    color: #fff;
    cursor: pointer;
    display: block;
    font-size: 24px;
    margin: auto;
    padding: 16px;
    width: 50%;
    margin-bottom: 24px;
    margin-top: 24px;
    transition: all .2s ease-in-out;

    &:focus,
    &:hover {
        background: #0080c0;
        transform: scale(1.025);
        box-shadow: 0 4px 8px 0 #00000080, 0 8px 16px 0 #00000080;
    }

}

select {
    font-family: textfont;
    font-weight: 100;
    font: -moz-pull-down-menu;
    background-color: var(--bg-c4);
    color: var(--fg-c1);
    border: 0;
    border-radius: 16px;
    text-align: center;
    cursor: pointer;
    display: block;
    font-size: 24px;
    margin: auto;
    padding: 8px;
    width: 20%;
    min-width: 150px;

    option {
        text-align: start;
    }
}

label {
    color: var(--fg-c2);
}

iframe {
    width: 400px;
}

#results1,
#results2 {
    background-color: var(--bg-c2);
    border: 4px solid var(--bg-c2);
    border-radius: 16px;
    display: block;
    margin: 16px auto;
    max-width: 90%;
}

#back_button,
.small {
    width: fit-content;
    padding-left: 3%;
    padding-right: 3%;
    background-color: var(--bg-c4);
    color: var(--fg-c1);

    &:focus,
    &:hover {
        background-color: var(--bg-c5);
    }
}

#download1,
#download2 {
    color: #fff;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 16%;
    padding-top: 8px;
    padding-bottom: 8px;

    svg {
        height: 48px;
    }

}

#instructiontext,
#questiontext {
    align-items: center;
    background-color: var(--bg-c1);
    border-radius: 16pt;
    color: var(--fg-c1);
    display: flex;
    font-size: 36pt;
    font-weight: 400;
    justify-content: center;
    margin: 16pt auto;
    min-height: 256px;
    min-width: 500pt;
    padding: 16pt;
    width: 70%;
}

.value {
    font-family: titlefont;
    font-size: 32px;
    margin-bottom: 24px;
    margin-left: 48px;
    margin-top: 24px;
    text-indent: -32px
}

.axis img {
    height: 128px;
}

.quadcolumn {
    width: 45%;
}

.axis_label {
    font-size: 2em;
    font-family: inherit;
    color: var(--fg-c1);
}

.block {
    font-family: titlefont;
    display: inline-block;
    width: 32%;
    text-align: center;
    border-radius: 24pt;
    margin: 0.5%;

    img.quadcolumn {
        width: 45%;
        padding: 0;
        margin: 2%;
        margin-top: 1em;
        transition: .3s ease-in-out;

        &:hover {
            transform: scale(1.05);
        }
    }
}

.explanation_blurb_left,
.explanation_blurb_right {
    margin: 16px;
    vertical-align: top;
    width: 40%
}

.axis {
    align-items: center;
    display: flex;
    justify-content: center;
    width: 100%
}

.bar {
    background-color: #fff;
    border-bottom: 8px solid #000;
    border-top: 8px solid #000;
    display: block;
    height: 48px;
    line-height: 48px;
    margin-bottom: 16px;
    margin-top: 16px;
    padding: 16px
}

.text-wrapper {
    color: #080808;
    display: inline-block;
    font-size: 48px;
    font-family: textfont;
}

.arrow {
    height: auto;
    width: 300px;
    max-width: 100%;
    path {
        stroke: var(--fg-c2) ;
    }
}

.spacer {
    display: flex;

    &>div {
        max-width: 40%;
        display: inline-block;
        margin-top: 12px;
        text-align: center;
    }
}

/****************************
*****************************
*****************************
******Github Corner CSS******
*****************************
*****************************
****************************/

.github-corner:hover .octo-arm {
    animation: octocat-wave 500ms ease-in-out
}

@keyframes octocat-wave {

    0%,
    100% {
        transform: rotate(0)
    }

    20%,
    60% {
        transform: rotate(-25deg)
    }

    40%,
    80% {
        transform: rotate(10deg)
    }
}

@media(max-width:500px) {
    .github-corner:hover .octo-arm {
        animation: none
    }

    .github-corner .octo-arm {
        animation: octocat-wave 560ms ease-in-out
    }
}